<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heqing.dao.UserDao">

    <resultMap id="userResult" type="User" >
        <result column="u_id" property="id"></result>
        <result column="u_loginName" property="loginName"></result>   
        <result column="u_password" property="password"></result>  
        <collection  column="u_id" property="roles"  ofType="Role"  select="getRoles" />
    </resultMap>
    
    <select id="getRoles" parameterType="Long" resultMap="com.heqing.dao.RoleDao.roleResult">
        select r.id r_id,r.name r_name from role r where r.id in
		(select ur.role_id from user_role ur where ur.user_id =#{id})
    </select>
     
    <insert id="save" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into user (loginName,password) values (#{loginName},#{password})
    </insert>
    
    <insert id="setUser_Role" parameterType="user_role">
        insert into user_role (user_id, role_id) values 
        <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.user.id},#{item.role.id})  
	    </foreach>       
    </insert>

    <update id="update" parameterType="user">
        update user set loginName = #{loginName}, password = #{password}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from user where id = #{id}
    </delete>

    <select id="getById" parameterType="Long" resultMap="userResult">
        select u.id u_id,u.loginName u_loginName, u.password u_password from user u where id = #{id}
    </select>
    
    <select id="getByName" parameterType="String" resultMap="userResult">
        select u.id u_id,u.loginName u_loginName, u.password u_password from user u where loginName = #{loginName}
    </select>
    
    <select id="getByIds" parameterType="Long[]" resultMap="userResult">
        select u.id u_id,u.loginName u_loginName, u.password u_password from user u where id in
	    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	    </foreach>  
    </select>

    <select id="findAll" resultMap="userResult">
        select u.id u_id,u.loginName u_loginName, u.password u_password from user u
    </select>

	<select id="getPageBean"  resultMap="userResult">
        select u.id u_id,u.loginName u_loginName, u.password u_password from user u where u.id limit #{0} , #{1} 
    </select>
</mapper>